body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.calculator {
    background-image: url(h2.jpg);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

.display {
    background: #eaeaea;
    border-radius: 5px;
    padding: 10px;
    font-size: 2em;
    text-align: right;
    margin: bottom 16px;
    height: 60px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

button {
    background: #151616;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #131313;
}

button.clear {
    background: #dc3545;
}

button.clear:hover {
    background: #a71d2a;
}
button.equal {
    background: #020c57;
    grid-column: span 2;
}

button.equal:hover {
    background: #0a145b;
}